# Virtual environment
.venv/
env/

# Environment variables
.env

# Python cache files
__pycache__/
*.pyc
*.pyo

# Log files
*.log

# Temporary files
*.tmp
tmp/

# Build artifacts
build/
dist/
*.egg-info/

# Database files
*.db
*.sqlite3

# IDE/editor-specific files
.vscode/
.idea/

# macOS Finder files
.DS_Store
